<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kopo.poly.persistance.mapper.IInCheonParkMapper">

    <select id="getInCheonInfo" parameterType="InCheonParkDTO"
            resultType="InCheonParkDTO">
        SELECT
            NAME,
               X,
               Y
        FROM
            INCHEONPARK_INFO
    </select>

    <insert id="insertInCheonInfo" parameterType="InCheonParkDTO">
        INSERT INTO
            INCHEONPARK_INFO
            (
             OBJECTID,
             SIDO,
             NAME,
             X,
             Y
            )
            VALUES(
                   SELECT NVL(MAX(A.OBJECTID), 0)+1 FROM INCHEONPARK_INFO A),
                   #{objectid},
                   #{name},
                   #{sido},
                   #{x},
                   #{y}
                  )
    </insert>

</mapper>